@media screen and (max-width: 560px) {
  .prev-game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
    position: relative;
  }

  .container-prev {
    position: absolute;
    top: 10dvh;
    width: 60%;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;

    background: var(--bg-transparent);
    padding: 1rem;
    border-radius: 10px;
  }

  .container-prev div {
    flex: 1;
  }

  .container-prev .details {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
    /* margin-bottom: 1rem; */
  }

  .container-prev .details h2 {
    font-size: 18px;
  }
  .container-prev .details h3 {
    font-size: 12px;
  }

  .container-prev img {
    width: 50%;
  }

  .container-prev .teams {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }

  .container-prev .home h2 {
    font-size: 14px;
  }

  .container-prev .away h2 {
    font-size: 14px;
  }

  .container-prev .place {
    margin-bottom: 1rem;
  }
}
